<ng-container *ngIf="currentAction === 'List';">
  <div class="container mt-3 mx-10">
    <div class="col-6">
      <div class="input-icon">
        <i class="fas fa-search icon colored" (click)="searchPokemon();"></i>
        <input class="prefix-input" type="text" [(ngModel)]="search" (keyup.enter)="searchPokemon();" placeholder="Buscar Pokémon" maxlength="100" autocomplete="off" />
      </div>
    </div>
    <div class="col-6 text-right">
      <button class="button" (click)="currentAction = 'Create'; resetPokeForm();"><i class="fas fa-plus"></i>&nbsp;Nuevo</button>
    </div>
  </div>

  <div class="container mt-1 mx-10">
    <div class="col-12 scrollable-container">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Ataque</th>
            <th>Defensa</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pokemon of pokemonList; let i = index;">
            <td>{{pokemon?.name}}</td>
            <td class="text-center">
              <img class="img-preview" [src]="pokemon?.image" [title]="pokemon?.name" [alt]="pokemon?.name" />
            </td>
            <td>{{pokemon?.attack | number}}</td>
            <td>{{pokemon?.defense | number}}</td>
            <td class="text-center">
              <i (click)="selectPokemon(pokemon);" class="fas fa-edit colored pointer" style="margin-right: 2em;"></i>
              <i (click)="deletePokemon(pokemon);" class="fas fa-trash colored pointer"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container mt-1 mx-10">
    <div class="col-12 text-right">
      <label for="count">Cantidad de registros:</label>
      <input class="normal-input" id="count" type="text" [(ngModel)]="count" (keyup.enter)="getAllPokemon();" min=0 placeholder="Cantidad de registros" autocomplete="off" />
    </div>
  </div>
</ng-container>

<ng-container *ngIf="['Create', 'Update']?.includes(currentAction);">
  <div class="container mt-3 mx-10">
    <div class="col-12">
      <h4 class="text-center">{{currentAction === 'Create' ? 'Nuevo' : 'Datos del'}} Pokémon</h4>
    </div>
  </div>

  <form [formGroup]="pokeForm">
    <div class="container mx-10">
      <div class="col-6">
        <label for="name">Nombre:</label>
        <input class="custom-input" id="name" type="text" formControlName="name" maxlength="100" placeholder="Nombre" autocomplete="off" />
      </div>

      <div class="col-6 text-center">
        <label for="attack">Ataque:&nbsp;</label>
        <span>0</span><input id="attack" type="range" formControlName="attack" min=0 max=100 step=1 /><span>{{pokeForm?.value?.attack | number}}</span>
      </div>
    </div>

    <div class="container mx-10">
      <div class="col-6">
        <label for="image">Imagen:</label>
        <input class="custom-input" id="image" type="text" formControlName="image" maxlength="512" placeholder="Url de imagen" autocomplete="off" />
        <img *ngIf="selectedPokemon && currentAction === 'Update';" class="img-preview" align="center" [src]="selectedPokemon?.image" [title]="selectedPokemon?.name" [alt]="selectedPokemon?.name" />
      </div>

      <div class="col-6 text-center">
        <label for="defense">Defensa:&nbsp;</label>
        <span>0</span><input id="defense" type="range" formControlName="defense" min=0 max=100 step=1 /><span>{{pokeForm?.value?.defense | number}}</span>
      </div>
    </div>

    <div class="container mx-10">
      <div class="col-6">
        <label for="type">Tipo:</label>
        <input class="custom-input" id="type" type="text" formControlName="type" maxlength="100" placeholder="Tipo de pokémon" autocomplete="off" />
      </div>

      <div class="col-6 text-center">
        <label for="hp">HP:&nbsp;</label>
        <span>0</span><input id="hp" type="range" formControlName="hp" min=0 max=255 step=1 /><span>{{pokeForm?.value?.hp | number}}</span>
      </div>
    </div>

    <div class="container mx-10 text-center">
      <div class="col-12">
        <button *ngIf="currentAction === 'Create';" class="button" (click)="createPokemon();" [disabled]="!pokeForm?.valid"><i class="fas fa-save"></i>&nbsp;Guardar</button>
        <button *ngIf="currentAction === 'Update';" class="button" (click)="updatePokemon();" [disabled]="!pokeForm?.valid"><i class="fas fa-sync"></i>&nbsp;Actualizar</button>
        <button class="button mx-1" (click)="currentAction = 'List';"><i class="fas fa-times"></i>&nbsp;Cancelar</button>
      </div>
    </div>

  </form>
</ng-container>
